.contact-section{
    padding:120px 0;
    background:#0f0f0f;
}

.contact-card{
    background:#171717;
    padding:50px;
    border-radius:25px;
    border:1px solid #262626;
}

.custom-input{
    background:#111 !important;
    border:1px solid #333 !important;
    color:white !important;
    padding:16px !important;
}

.custom-input:focus{
    border-color:#ffc107 !important;
    box-shadow:none !important;
    background:#111 !important;
}

.custom-input::placeholder{
    color:#aaa;
}

.contact-subtitle{
    color:#aaa;
    max-width:700px;
    margin:auto;
}